<li class="nav-item <%= 'active' if current_page?(products_path) %>'"><%= link_to 'Товары', products_path, class: 'nav-link' %></li>
<ul class="navbar-nav dropdown">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Поставщики
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'RT', rts_path, class: 'dropdown-item' %>
      <%= link_to 'DR', drs_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Настройки
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if can? :create, User %>
        <%= link_to 'Создать пользователя', new_user_registration_path, class: 'dropdown-item' %>
      <%#= link_to 'Список поставщиков', distributors_path, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%#= link_to 'Создать поставщика', new_distributor_path, class: 'dropdown-item' %>
       <% end %>
    </div>
  </li>
</ul>
